name: supra_cli
services:
  supra_cli:
    container_name: supra_cli
    image: asia-docker.pkg.dev/supra-devnet-misc/supra-testnet/validator-node:v9.1.9
    environment:
      SUPRA_HOME: /supra/configs
    volumes:
      - type: bind
        source: ./supra/configs
        target: /supra/configs
      - type: bind
        source: ./supra/move_workspace
        target: /supra/move_workspace
    tty: true
    network_mode: host
    entrypoint:
      - /supra/SupraLottery/supra/docker-entrypoint.sh
